Source: qsseditor
Section: graphics
Priority: extra
Maintainer: Dmitry Baryshev <linuxsquirrel.dev@gmail.com>
XSBC-Original-Maintainer: Dmitry Baryshev <linuxsquirrel.dev@gmail.com>
Uploaders: Dmitry Baryshev <linuxsquirrel.dev@gmail.com>
Build-Depends: debhelper (>= 9), qtbase5-dev, qttools5-dev-tools, libqt5scintilla2-dev
Standards-Version: 3.9.4
Homepage: https://qt-project.org/
Vcs-Svn: svn://svn.code.sf.net/p/qsseditor/code/trunk
Vcs-Browser: http://sourceforge.net/p/qsseditor/code/HEAD/tree/trunk

Package: qsseditor
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: QSS Editor is a tool to edit and preview
 Qt style sheets. It provides a simple interface
 with autocompletion support.
